*, body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans';
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 16px;
    border: 2px solid dodgerblue;
    border-radius: 16px;
    margin-top: 16px;
    justify-content: space-between;
    align-items: center;
}

.post:hover {
    transition: all .3s ease-in-out;
    background: rgb(206, 209, 242);
}

.posts-undefined {
    text-align: center;
}